.App {
  text-align: center;
  font: white;
}

body {
  background: url(https://images.unsplash.com/photo-1536502829567-baf877a670b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(220, 20, 60, 0.8);
  padding: 1%;
}

.dash {
  display: flex;
  }

.items-list {
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: yellow;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0,0,0,0.5);
  width: 20rem;
  border-radius: 0.8rem;
  text-align: left;
  padding: 20px;
  
}

.edit-items {
  list-style-type: none;
  padding: 0.8rem 0rem 0.8rem 0.8rem;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  align-items: start;
  line-height: 2;
  height: 5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  width: 100%;
  justify-content: end;
}

.card {
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0,0,0,0.5);
  width: 17rem;
  height: 22rem;
  padding: 10px;
  margin: 1rem;
  border-radius: 0.8rem;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhSZ_FT5DUmtI8HPxezp562eipbsXnDQ1qFg&usqp=CAU);
}

.nav-link {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

.nav-link:hover {
  color: black;
}

.input {
  font-size: 1rem;
  padding-left: 0.8rem;
  margin-left: 2rem;
  border-radius: 5%;
  width: 200px;
}

.login {
  background-color: rgba(220, 20, 60, 0.8);
  font: green;
  margin-top: 12%;
  margin-left: 40%;
  padding: 10px;
  width: 50%;
  border-radius: 15px;
}

.headline {
  color: lawngreen;
}

.add {
 margin-top: 10%;
  display: flex;
  flex-direction: column;
  background-color:  rgba(220, 20, 60, 0.8);
  width:40%;
  text-align: left;
  padding: 20px;
  line-height: 2;
  margin-left: 10%;
  border-radius: 15px; 
}

.delete {
  background-color: white;
  border-radius: 15px;
  padding: 2%;
}

.update {
  background-color: lawngreen;
}

.open {
  background-color: yellow;
  width: 50%;
  padding: 1%;
  margin-left: 22%;
  margin-top: 15%;
  border-radius: 15px;
}




